
<div ng-controller="BlankPageCtrl as q">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Questions Template</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
        <h3>Cookies</h3>
         <pre>{{usingCookies|json}}</pre>
         <h3>Cookie Store</h3>
         <pre>{{usingCookieStore|json}}</pre>
        </div>
    </div>
</div>

<!--  <label>Format: <span class="muted-text">(manual alternate <em class="ng-binding">M!/d!/yyyy</em>)</span></label> <select class="form-control ng-pristine ng-valid ng-touched" ng-model="format" ng-options="f for f in formats"><option value="" class=""></option><option label="dd-MMMM-yyyy" value="string:dd-MMMM-yyyy" selected="selected">dd-MMMM-yyyy</option><option label="yyyy/MM/dd" value="string:yyyy/MM/dd">yyyy/MM/dd</option><option label="dd.MM.yyyy" value="string:dd.MM.yyyy">dd.MM.yyyy</option><option label="shortDate" value="string:shortDate">shortDate</option></select> -->
