<style>
/*.pie-legend li span {
    width: 1em;
    height: 1em;
    display: inline-block;
    margin-right: 5px;
}
.pie-legend {
    list-style: none;    
}*/
.bigButton {
    font-weight: bold;
    font-size: 1.2em;

}
.center-div
{
  position: absolute;
  margin: auto;
  padding-top: 100px;
  top: 570px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 550px;
  background-color: orange;
  border-radius: 20px;
}
.textTitle {
    font-size: 1.1em;
    font-weight: bold;
}
.errorText {
    font-size: 0.8em;
    min-height:100px;
    color: red;
    /*text-align: left;*/
    /*height:50px;*/
    /*clear:both;*/
}
</style>
<div ng-controller="SummaryPortfolioCtrl as sp">
    <!-- this is the part with the graphs before the registration -->
    <div ng-show="sp.showRegister == false" class="col-md-12">
        <div class="pull-left" style="height:300px;top:36px;width:260px;position: relative">
            <p style="font-size: 2.4em;text-align: center;">{{sp.rank.toFixed(2)}}</p>
            <p style="font-size: 1.4em;text-align: center;">{{sp.selectedMaslulName}}</p>
            <div id="ourgauge" class="" style="top:-20px;min-width: 200px; max-width: 400px; height: 200px; margin: 0 auto">
            </div>
        </div>
        <div class="pull-left" style="height:300px;top:36px;width:400px;position: relative">
            <div style="width:100%; min-height:120px;">
                <span style="font-size: 2.0em; font-weight: bold">{{sp.language.To_who_Portfo_fit}}</span><br>{{sp.toWhomVariable}}
            </div>            
            <div style="width:100%; min-height:80px;">
                <span style="font-size: 2.0em;font-weight: bold">{{sp.language.Portfolio_description}}</span><br>{{sp.longDescriptionVariable}}
            </div>
        </div>
        <div class="pull-left" style="width:400px; padding-left:60px;position: relative;top:-50px">
            <div> 
                <div id="ourpie" style="width: 470px; height: 470px; margin: 0 auto;"></div>
            </div>
        </div>
        <div class="col-md-10" style="height:350px; top:-150px;">
            <div id="barchart" style="width: 100%; height: 350px; margin: 0 auto"></div>
        </div>        
        <div class="col-md-2" style="height:350px; top:-150px;">
            <button ng-click="sp.showRegister = !sp.showRegister" class="btn btn-default" style="font-size: 2.0em;text-align: center;position: relative;top:120px;">Register</button>
        </div>
    </div>

    <!-- this is the register dialog -->
    <div ng-show="sp.showRegister == true" class="col-md-12">
        <div class="center-div">
            <div class="col-centered" style="width: 300px; left: 13%; position: relative;">
                <div class="form-group">
                  <label for="firstname" class="col-md-12 control-label">First Name:</label>
                  <input type="text" class="form-control" id="firstname" ng-model="sp.firstName">
                  <p class="help-block"><span class="errorText">{{sp.firstNameError}}</span></p>
                  
                </div>
                <div class="form-group">
                  <label for="lastName" class="col-md-12 control-label">Last Name</label>
                  <input type="text" class="form-control" id="lastName" ng-model="sp.lastName">
                  <p class="help-block"><span class="errorText">{{sp.lastNameError}}</span></p>
                  
                </div>
                <div class="form-group">
                  <label for="emailAdddress" class="col-md-12 control-label">Your Email Address:</label>
                  <input type="text" class="form-control" id="emailAdddress" ng-model="sp.emailAddress">
                  <p class="help-block"><span class="errorText">{{sp.emailAddressError}}</span></p>
                </div>
                <div class="form-group">
                  <label for="password" class="col-md-12 control-label">Password:</label>
                  <input type="text" class="form-control" id="password" ng-model="sp.password">
                  <p class="help-block"><span class="errorText">{{sp.passwordError}}</span></p>
                </div>
                <div class="form-group col-md-12"></div>
                <div class="form-group col-md-6 pull-right">
                    <button ng-disabled="sp.formValiate()" ng-click="sp.processSignup()" class="form-control btn btn-default"><span class="bigButton">Continue</span></button>
                </div>
            </div>
        </div>
    </div>
<!--     <div class="col-lg-12" style="width:100%">
        <pre>{{localStorage | json}}</pre>
        <pre>{{sp.maslulArr | json}}</pre>
    </div> -->
</div>
